.footer__content {
    width: 146px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    text-decoration: none;
    color: #ffffff;
    margin: 0px 19px 0px 0px;
}

.footer__content:nth-child(3n) {
    width: 142px;
}

@media screen and (max-width:1024px) {
    .footer__content {
        width: 11%;
        font-size: 24px;
        line-height: 27px;
        margin: 0px 22px 0px 0px;
    }

    .footer__content:nth-child(3n) {
        width: auto;
        margin: 0px 17px 0px 0px;
    }

    .footer__content:nth-child(4n) {
        margin: 0px 64px 0px 0px;
    }
}

@media screen and (max-width:820px) {
    .footer__content {
        width: 11%;
        font-size: 22px;
        line-height: 27px;
        margin: 0px 22px 0px 0px;
    }

    .footer__content:nth-child(3n) {
        width: auto;
        margin: 0px 17px 0px 0px;
    }

    .footer__content:nth-child(4n) {
        margin: 0px 64px 0px 0px;
    }
}
@media screen and (max-width:768px) {
    .footer__content {
        width: auto;
        font-size: 16px;
        line-height: 27px;
        margin: 0px 23px 0px 0px;
    }

    .footer__content:nth-child(3n) {
        width: auto;
    }

    .footer__content:nth-child(4n) {
        margin: 0px 23px 0px 0px;
    }
}

@media screen and (max-width:550px) {
    .footer__content {
        width: auto;
        font-size: 14px;
        line-height: 27px;
        margin: 0px 23px 0px 0px;
    }

    .footer__content:nth-child(3n) {
        width: auto;
    }

    .footer__content:nth-child(4n) {
        margin: 0px 23px 0px 0px;
    }
}

@media screen and (max-width:505px) {
    .footer__content {
        width: auto;
        font-size: 12px;
        line-height: 27px;
        margin: 0px 23px 0px 0px;
    }

    .footer__content:nth-child(3n) {
        width: auto;
    }

    .footer__content:nth-child(4n) {
        margin: 0px 23px 0px 0px;
    }
}

@media screen and (max-width:455px) {
    .footer__content {
        width: auto;
        font-size: 9px;
        line-height: 27px;
        margin: 0px 23px 0px 0px;
    }

    .footer__content:nth-child(3n) {
        width: auto;
    }

    .footer__content:nth-child(4n) {
        margin: 0px 23px 0px 0px;
    }
}

@media screen and (max-width:375px) {
    .footer__content {
        width: auto;
        max-height: 32px;
        font-size: 24px;
        line-height: 40px;
        margin: 0px 0px 23px 0px;
    }

    .footer__content:nth-child(3n) {
        width: auto;
        margin: 0px 0px 23px 0px;
    }

    .footer__content:nth-child(4n) {
        margin: 0px 0px 23px 0px;
    }
}