@import url("./_text/content__comment_text.css");
@import url("./_image/content__comment-image.css");
@import url("./_text/content__comment-text.css");

.content__comment-container {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px 16px 0px 0px;
}

.content__comment-container:last-of-type {
    margin: 0px 0px 0px 0px;
}

@media screen and (max-width:1024px) {
    .content__comment-container {
        width: calc(100% - 64% - 35px);
    }
}

@media screen and (max-width:768px) {
    .content__comment-container {
        width: 100%;
        height: auto;
        align-items: center;
        margin: 0px 0px 57px 0px;
    }
}

@media screen and (max-width:375px) {
    .content__comment-container {
        width: 100%;
        height: auto;
        align-items: center;
        margin: 0px 0px 48px 0px;
    }
}

@media screen and (max-width:320px) {
    .content__comment-container {
        width: 100%;
        height: auto;
        align-items: center;
        margin: 0px 0px 49px 0px;
    }
}