@import url("./-times/intro__footer-times.css");
@import url("./-reserve/intro__foter-reserve.css");
@import url("./-nature/intro__footer-nature.css");
@import url("./-culture/intro__footer-culture.css");
@import url("./-airports/intro__footer-airports.css");

.intro__footer {
    height: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    margin: 4px 0px 0px 0px;
    color: #FFFFFF;
}

@media screen and (max-width:320px) {
    .intro__footer {
        font-size: 12px;
        line-height: 19px;
    }
}